.main .table {
    width: 100%;
    border-color: black;
    border-radius: 10px;
    border-collapse: collapse;
  }
  
 .main .table th, .table td {
    border: 1px solid #170202; 
    padding: 8px; 
    text-align: left; 
    background-color: rgb(3, 40, 40);
    color: #f8f5f5;
  }
  
 .main .table tr {
    border-bottom: 1px solid #ddd; 
  }
  
  
  